/* stylesheet.css */
body {
/*     background-color : #acf8fa; */
    margin-bottom : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-top : 0px;
    text-align : center;
  }


TABLE.header {
    border-bottom-color : #000000;
    border-bottom-style : solid;
    border-bottom-width : 1px;
    border-left-color : #000000;
    border-left-style : solid;
    border-left-width : 1px;
    border-right-color : #000000;
    border-right-style : solid;
    border-right-width : 1px;
    border-spacing : 5px 5px;
    border-top-color : #000000;
    border-top-style : solid;
    border-top-width : 1px;
    text-align : left;
    vertical-align : middle;
    width : 100%;/* 90 *******************************************************/
  }


TABLE.Main {
    border-bottom-color : #000000;
    border-bottom-style : solid;
    border-bottom-width : 1px;
    border-left-color : #000000;
    border-left-style : solid;
    border-left-width : 1px;
    border-right-color : #000000;
    border-right-style : solid;
    border-right-width : 1px;
    border-spacing : 5px 5px;
    border-top-color : #000000;
    border-top-style : solid;
    border-top-width : 1px;
    text-align : left;
    width : 100%;/* 90 ******************************************************************/
  }


table.body {
    border-bottom-style : solid;
    border-bottom-width : 1px;
    border-left-style : solid;
    border-left-width : 1px;
    border-right-style : solid;
    border-right-width : 1px;
    border-top-style : solid;
    border-top-width : 1px;
    width : 100%;
  }


table.footer {
    border-bottom-style : solid;
    border-bottom-width : 1px;
    border-left-style : solid;
    border-left-width : 1px;
    border-right-style : solid;
    border-right-width : 1px;
    border-top-style : solid;
    border-top-width : 1px;
    width : 100%;/* 90 ************************************************************/
  }


table.language {
    text-align : center;
    width : 100%;
  }


td.body {
    border-bottom-style : outset;
    border-bottom-width : 1px;
    border-left-style : outset;
    border-left-width : 1px;
    border-right-style : outset;
    border-right-width : 1px;
    border-top-style : outset;
    border-top-width : 1px;
    /*width : 20%;*/
    width : 50%;
  }


td.center {
    border-bottom-style : outset;
    border-bottom-width : 0px;
    border-left-style : outset;
    border-left-width : 0px;
    border-right-style : outset;
    border-right-width : 0px;
    border-top-style : outset;
    border-top-width : 0px;
    vertical-align : top;
    width : 60%;
  }


td.column {
    border-bottom-style : outset;
    border-bottom-width : 0px;
    border-left-style : outset;
    border-left-width : 0px;
    border-right-style : outset;
    border-right-width : 0px;
    border-top-style : outset;
    border-top-width : 0px;
    height : 350px;
    vertical-align : top;
    width : 20%;
  }


td.footer {
    border-bottom-style : outset;
    border-bottom-width : 0px;
    border-left-style : outset;
    border-left-width : 0px;
    border-right-style : outset;
    border-right-width : 0px;
    border-top-style : outset;
    border-top-width : 0px;
  }


td.header {
    border-bottom-style : outset;
    border-bottom-width : 0px;
    border-left-style : outset;
    border-left-width : 0px;
    border-right-style : outset;
    border-right-width : 0px;
    border-top-style : outset;
    border-top-width : 0px;
    max-width : 90%;
    min-width : 10%;
    text-align : left;
  }

/*  prenex function */


a.prenex {
    color : #FF083E;
  }


td.prenex {
    text-align : center;
  }


font.prenex {
    color : #C3C3C3;
  }

#Content {
    width:800px;
    margin:0px auto;
    text-align:left;
    padding:0px;
/*     border:1px dashed #333; */
    /* background-color is niet nood zakelijk */ /*background-color:#eff;*/
  }
